<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSNPSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MSNPSharp.Properties.Settings>
            <setting name="MSNPSharp_MSNWS_MSNOIMStoreService_OIMStoreService"
                serializeAs="String">
                <value>https://msnmsgr.escargot.chat/OimWS/oim.asmx</value>
            </setting>
            <setting name="MSNPSharp_MSNWS_MSNRSIService_RSIService" serializeAs="String">
                <value>https://msnmsgr.escargot.chat/rsi/rsi.asmx</value>
            </setting>
            <setting name="MSNPSharp_MSNWS_MSNSecurityTokenService_SecurityTokenService"
                serializeAs="String">
                <value>https://msnmsgr.escargot.chat/RST2.srf</value>
            </setting>
            <setting name="MSNPSharp_MSNWS_MSNStorageService_StorageService"
                serializeAs="String">
                <value>https://storage.msn.com/storageservice/SchematizedStore.asmx</value>
            </setting>
            <setting name="MSNPSharp_MSNWS_MSNABSharingService_SharingService"
                serializeAs="String">
                <value>https://contacts.msn.com/abservice/SharingService.asmx</value>
            </setting>
        </MSNPSharp.Properties.Settings>
    </applicationSettings>
</configuration>